.not-found {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-items: center;
    background: url('https://media1.tenor.com/images/77052965bde169808468279e5fdaf54a/tenor.gif?itemid=5114829');
    background-repeat: no-repeat;
    background-position: center;
}