.competitions {
    font: 600 14px/20px Museo Sans,Arial,sans-serif;
    
    .competition {
        padding: 8px; 
        margin-bottom: 1px;
        border-radius: 4px;
        cursor: pointer;
    }
}
